pytest
pytest-asyncio
pytest-env
pytest-mock
pip-tools
lox
matplotlib
pandas
typer
imgcat
pre-commit
cogapp
semver
codespell
flake8>=7.3.0
uv
memray; sys_platform != 'win32'
objgraph
pympler
guppy3
psutil
